/*WEBSITE SETTINGS*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html { 
    background: url(../PICTURES/wallpaperflare.com_wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body{
    /* background: linear-gradient(315deg, #ffffff 0%, #adcbeb 74%);  */
    height: 100%;
    width: 100%;
}
    
/* background: linear-gradient(315deg, #ffffff 0%, #adcbeb 74%); */

/*NAVIGATION SETTINGS*/

/*General nav settings*/


 nav{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    min-height: 15vh;
    background: #272829;
    color: rgb(221, 220, 220);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
} 


/*Logo*/


.logo{
    color: rgb(221, 220, 220);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 23px;
} 

/*Links*/

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
} 


.nav-links li{
    list-style: none;
    

} 
.nav-links a {
    color: rgb(221, 220, 220);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    display: block;             /*originally it was set to flex*/
    text-transform: uppercase;
} 

.active{
    text-decoration: underline;
}

/*experimenting*/
.nav-links a:hover {
    color: #4994DE;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
} 


/*Burger*/
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(221, 220, 220);
    margin: 6px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
     .nav-links{
        width: 60%;
    }
    nav{
        box-shadow: 0px 10px 10px rgba(61, 61, 61, 0.3);
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;                     /*Hide the nav menu*/
    }
    /* header nav li{
        padding: 6vw;
    } */
    nav{
        box-shadow: 0px 10px 10px rgba(61, 61, 61, 0.3);
        z-index: 1;
        height: 100%;
    }
    .nav-links{
        position: absolute;
        right: 0px;                             /*Nav menu will be placed to the right*/
        height: 85vh;                           /*Takes 85% of our view port*/
        top: 15vh;                              
        width: 100%;                            /*Width of our menu*/
        background-color:  rgb(65, 65, 65);
        display: flex;
        flex-direction: column;             /*Place nav links in the column*/
        align-items: center;                   /*Place our nav links in the centre*/
        text-align: center;
        transform: translateX(100%);            /*Move our menu to the right 100%*/
        transition: transform 0.2s ease-in;
    }
    .nav-links li{
        opacity: 0;                          /*Make nav links invisible at start*/
    }
    
    .burger{
        display: block;
        cursor: pointer;
    }

    .wrapper .button{
        margin: 10px 5px;
    }
    .wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: -1;
    }

    .item {
        width: 85% !important;
        display: inline-block;
        margin-top: 2rem;
        filter: grayscale(100%);
      }

    p{
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        padding: 20px 60px;
        margin-top: 20px;
        margin-left: 65px;
        margin-right: 65px;  
        font-size: 15px;
    }


    .caption {
        font-family: 'Poor Story', cursive;
        font-size: 0.7rem;
        text-align: center;
        line-height: 2em;
      }

    .footer{
        display: none;
    }
}

.nav-active{
    transform: translateX(0%);                  /*Make nav menu below our main bar*/
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px); 
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;    
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);    
}

/*MAIN*/

main{
    padding-top: 5vh;

}

.section1{
    padding-right: 5vw;
    padding-left: 5vw;
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px 60px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(241, 241, 241);
    border-radius: 1vw;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0px 60px;
    margin-top: 0px;
    margin-left: 65px;
    margin-right: 65px;
    font-size: 25px;
}

p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    padding: 20px 60px;
    margin-top: 20px;
    margin-left: 65px;
    margin-right: 65px;  
    font-size: 15px;
}



.wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
  }
  .polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    
  }
  .polaroid > img{
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-family: 'Poor Story', cursive;
    font-size: 1.3rem;
    text-align: center;
    line-height: 2em;
  }
  .item {
    width: 35%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
  }
  .item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+4) .polaroid:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .item:nth-of-type(4n+3) .polaroid:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
  }





/*PICTURE*/

div.trio {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 7vh 0vw 7vh 24vw
  }


/*SOCIAL MEDIA*/
.wrapper{
    padding: 50px;
    text-align: center;
}

.wrapper .button{
    display: inline-block;
    text-align: left;
    height: 60px;
    width: 60px;
    margin: 6px 5px;
    overflow: hidden;
    background: rgb(241, 241, 241);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out;
}

.wrapper .button:hover{
    width: 200px;
}

.wrapper .button .icon{
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all .3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon{
    background: #c32aa3;
}

.wrapper .button:nth-child(3):hover .icon{
    background: #25d366;
}

.wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    color: rgba(0, 0, 0, 1);
    transition: all .3s ease-out;
}

.wrapper .button:hover .icon i{
    color: rgb(241, 241, 241);
}

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all .3s ease-out;
}

.wrapper .button:nth-child(1) span{
    color: #4267b2;
}

.wrapper .button:nth-child(2) span{
    color: #c32aa3;
}

.wrapper .button:nth-child(3) span{
    color: #25d366;
}

.wrapper .button:nth-child(4) span{
    color: #ff0000;
}



/*FOOTER*/


.footer {
    text-align: center;
    text-shadow: #141E30;
    opacity: 0.5;
    width: 80vw;  
    position: relative;  
    bottom: 5px; 
    margin: 0 auto;
  }
